html {
    overflow: hidden;
    height: 100%;
    background-color: gray;
}

body {
    height: 100%;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    font-family: "Source Sans Pro" Sans;
}

.navbar {
	opacity: .8;
	color: white;
	border-bottom: 2px solid white;
}

.navbar li {
	opacity: 1;
}


.page-header {
	background-image: url("view1.png");
	background-size: 1400px;
	background-position: top;
	background-repeat: no-repeat;
	margin-top: -20px;
	padding: 0;
	width: auto;
	height: 120vh;
	margin-bottom: 5vh;
}

#header-text {
	font-weight: 600;
	font-size: 72px;
	color: white;
	float: right;
	margin-top: 30vh;
	height: 40vh;

}

.about-pic {
	height: 120px;
	width: auto;
}

#about-text {
	padding: 15px;
	padding-left: 5vw;
}

#about-box {
	width: 95vw;
	padding-top: 15vh;
	padding-bottom: 15vh;
}

#page-container {
	background-color: #eee;
}

.page-container, .container {
	margin-left: 0;
	margin-right: 0;
}

#headshot {
	background-image: url(me.png);
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	height: 60vh;
	margin-left: 5vw;
}

#view-2 {
	background-image: url(view2.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#mid-view-container {
	margin-bottom: 15vh;
	margin-top: 5vh;
}

#resume-container {
	margin-bottom: 15vh;
	width: 100vw;
	background-color: darkgray;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
}

#resume-buttons {
	text-align: center;
	margin-bottom: 5vh;
}

footer {
	padding: 10px;
	padding-top: 15px;
	color: lightgray;
}

#copy {
	font-size: 24px;
	color: white;
}

i {
	margin-left: 5px;
	margin-right: 5px;
}